@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: inherit;
    }
    .menu-items,  .header-menu-items  {
        display: none;
    }    
    .menu-items.open {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        display: flex;
        overflow: hidden;
        border-top: 1px solid rgb(173, 167, 167);
    }
    .menu-items li {
        margin: 0 auto;
        font-weight: 400;
        font-size: 20px;
        line-height: 118.1%;
        width: 100%;
        text-align: center;
    }
    .menu-items li a {
        padding: 10px;
        width: 100%;
        display: block; 
        border-bottom: 1px solid rgb(231, 228, 228);
    }
    .menu-items li:hover a {
        color: var(--primary);
    }
    .menu-toggle {
        display: block;
        font-size: 1.5rem;
        color: #fff;
        cursor: pointer;
    }
    .menu-items li a:after {
        display: none; 
    }
    .menu-items  li a:hover:after,
    .menu-items  li a:focus:after {
        width: 0%;
    }
    .logo {
        max-width: 130px;
        height: 50px;
    }

	.title-primary::after,  .title-primary::before {
		display: none;
	}
	.product-items {
		justify-content: flex-start;
		flex-wrap: nowrap;
		overflow-x: scroll;
		overflow-y: hidden;
	}
	.product-item {
		flex: 0 0 auto;
	}	
	.footer-items {
		flex-wrap: wrap;
	}
	.header-items {
		display: none;
	}	
	.timeline {
		padding: 0;
	}
	.timeline__event {
		padding: 20px;
	}	
	.slider__content {
		height: 36vh;
		max-height: 37vh;
	}
	.slider__nav {
		position: absolute;
		left: 0;
		top: 150px;
		width: 100%;
		height: 38vh;
		text-align: center;
	}
	.slider__nav-arrow::before {
		top: 50%;
		left: 14px;
	}
	.slider {
		height: 54vh;
	}
	.slider__nav-arrow {
		height: 37vh;
	}
	.slider__nav-arrow::before {
		top: 60%;
		left: 14px;
	}
    .goods-header,.header-top-items {
        display: none;
    }
    section.main {
        display: none;
    }
    .goods-item {
        grid-template-columns: 65px 1fr auto;
        grid-template-areas: 'img name name'
                'img price units';
        border-bottom: 1px solid #d2caca;
        gap: 10px;
        box-shadow: 4px 1px 2px 0px #000;
    }
    .goods-item-name {
        font-size: 16px;
        border-bottom: 1px solid var(--bg);
    }
    .good-item-price {
        font-size: 16px;
        border-right: 1px solid var(--bg);
            margin-top: -10px;
    }
    .good-item-units {
        font-size: 16px;
            margin-top: -10px;
    }
    .footer-item {
        width: 100%;
    }
    .footer-item:first-child {
        order: 1;
    }
    .timeline__event__icon i {
        font-size: 70px;
    }
    .timeline__event__date {
        display: none;
    }
     .timeline__event {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
    .timeline__event__content {
        width: 100%;
    }
    .timeline__event__icon {
        border-radius: 6px 6px 0 0;
        width: 100%;
        padding: 50px 0;
        margin: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .timeline__event__icon:before, .timeline__event__icon:after {
        display: none;
    }
    .timeline__event__date {
        border-radius: 0;
        padding: 20px;
    }
    .timeline__event:nth-child(2n+1) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
    .timeline__event:nth-child(2n+1) .timeline__event__date {
        border-radius: 0;
        padding: 20px;
    }
    .timeline__event:nth-child(2n+1) .timeline__event__icon {
        border-radius: 6px 6px 0 0;
        margin: 0;
    }
    section#delivery {
        padding: 0;
    }
        section#goods {
        margin: 0px 0 50px 0;
    }
    section.benefits {
        padding: 0;
        margin: 0px 0 80px 0;
    }
    .docs-items {
        padding: 0;
    }
}