*, *::before, *::after {
  box-sizing: border-box;
}
:root {
	--black: #1E1E1E;
    --bg: #c0bfbd;
    --primary: #18a837;
    --brow-light: #e7ba3d;
    --grey: rgba(255, 255, 255, 0.65);
    --gradient: linear-gradient(91.2deg, #B5FEEF 10.31%, #2EECC5 165.09%);
    --gradient-btn: linear-gradient(180deg, #B5FEEF 0%, #22A98D 100%);
    --white: #fff;
    --item: 1; 
    --color: rgb(246, 9, 149);
    --z-distance: 8.519vw;
    --from-left: 1;
    --mobile-bkp: 650px;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
}

.container {
    width: min(100% - 1em, 95em);
    margin-inline: auto;
}

header.header {
    background: var(--white);
    margin-top: -92px;
    position: fixed;
    width: 100%;
    box-shadow: rgb(60, 58, 58) 5px -1px 6px 0px;
    z-index: 2;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 200px;
    height: 60px;
}

.logo img {
    width: 100%;
    height: 100%;
    /*filter: drop-shadow(0px 0px 15px #4db90a);*/
}

.logo span:first-child {
    font-size: 17px;
    line-height: 140.6%;
    letter-spacing: 0.31em;
    transform: rotate(-0.19deg);
}

.logo span:last-child {
    font-weight: 400;
    font-size: 42px;
    line-height: 61.6%;
    letter-spacing: -0.115em;
    color: var(--white);
    transform: rotate(-0.19deg);
}
.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-items {
    display: flex;
    align-items: center;
    align-items: center;
}
.header-items a{
    color: var(--black);
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
.header-item-phone {
    display: flex;
    gap: 12px;
    flex-direction: column;
    margin-right: 10px;
}
.header-item-btn {
    height: 60px;
    width: 60px;
    background-color: var(--primary);
    border: none;
    border-radius: 8px;
    /* box-shadow: 0px 0px 0px 0px rgb(82, 81, 81); */
    cursor: pointer;
    transition: all .3s;
}
.header-item-btn:hover {
    background-color: var(--black);
}
.header-top-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--bg);
}
.header-top-text {
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}
.header-top-item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-top-item span {
    color: var(--primary);
}
.header-contact-item {
    display: flex;
    gap: 7px;
    flex-direction: column;
}
.menu-items {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: baseline;
    
}
.header-menu-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: baseline;
}

:is(.menu-items, .header-menu-items) li {
    margin: 0 1rem;
    display: block;
}

:is(.menu-items, .header-menu-items) li a {
    color: var(--black);
    text-decoration: none;
    /*padding: 1rem;*/
    font-size: 15pt;
    font-weight: 600;
    transition: all .6s ease-in-out;
    cursor: pointer;
}

:is(.menu-items, .header-menu-items)  li a:after{
    display: block; 
    content: "";
    height: 2px;
    width: 0%;
    background-color: var(--primary);
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
:is(.menu-items, .header-menu-items)  li a:hover:after,
:is(.menu-items, .header-menu-items)  li a:focus:after {
    width: 100%;
}
:is(.menu-items, .header-menu-items) li a:hover {
    width: 100%;
    color: var(--primary);
    transition: all .4s ease-in-out;
}
.menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: inherit;
    }
    .menu-items,  .header-menu-items  {
        display: none;
    }    
    .menu-items.open {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        display: flex;
        overflow: hidden;
        border-top: 1px solid rgb(173, 167, 167);
    }
    .menu-items li {
        margin: 0 auto;
        font-weight: 400;
        font-size: 20px;
        line-height: 118.1%;
        width: 100%;
        text-align: center;
    }
    .menu-items li a {
        padding: 10px;
        width: 100%;
        display: block; 
        border-bottom: 1px solid rgb(231, 228, 228);
    }
    .menu-items li:hover a {
        color: var(--primary);
    }
    .menu-toggle {
        display: block;
        font-size: 1.5rem;
        color: #fff;
        cursor: pointer;
    }
    .menu-items li a:after {
        display: none; 
    }
    .menu-items  li a:hover:after,
    .menu-items  li a:focus:after {
        width: 0%;
    }
    .logo {
        max-width: 130px;
        height: 50px;
    }
}

.menu-toggle label{
    display:flex;
    flex-direction:column;
    width:50px;
    cursor:pointer;
}
.menu-toggle label span{
    background: #fff;
    border-radius:10px;
    height:5px;
    margin: 5px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
    background-color: var(--black);
    /*
    background: linear-gradient(90.18deg, #30DBB8 -17.89%, #37A58F 24.63%, #398778 99.91%);
*/
}
.menu-toggle span:nth-of-type(1){
    width:50%;
}
.menu-toggle span:nth-of-type(2){
    width:100%;
    z-index: 1;
}

.menu-toggle span:nth-of-type(3){
    width:75%;
}
.menu-toggle input[type="checkbox"]{
    display:none;
}
.menu-toggle input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(8px,0px)
}
.menu-toggle  input[type="checkbox"]:checked ~ span:nth-of-type(2){
    transform-origin:top;
    transform:rotatez(-45deg)
}
.menu-toggle input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(22px,-8px) rotatez(45deg);
}

section.main {
    /* background-image: url('../img/about-2.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 92px);
    background-attachment: fixed; */
    margin-top: 92px;
}
/*
section.main::after {
    content: "";
	display: block;    
	width: 100%;
	height: calc(100vh - 92px);   
	position: absolute;
	top: 92px;      
	left: 0;   
	background: transparent;
	background: linear-gradient(90deg, #fff 0%, #fff 100%);
	opacity: 0.6;
}
*/

section.price {
    height: 700px;
    background-color: rgb(239 238 238);
    padding: 35px 0px 0px;
    margin: 40px 0 ;
}
section.benefits {
    padding: 35px 0px 0px 0;
    margin: 40px 0 120px 0;
}

.title-primary {
    position: relative;
    text-align: center;
    color: var(--primary);
    padding: 10px;
    margin: 0;
    font-size: 2em;
}
.title-primary {
    font-family: sans-serif;
    text-align: center;
    color: var(--primary);
    font-size: 40px;
    max-width: 100%;
    position: relative;
    margin: 0 10px;
}
.title-primary:before {
    content: "";
    display: block;
    width: 30%;
    height: 3px;
    background: linear-gradient(90deg, rgba(30,30,30,1) 0%, rgba(24,168,55,1) 100%);
    left: 30px;
    top: 50%;
    position: absolute;
}
.title-primary:after {
    content: "";
    display: block;
    width: 30%;
    height: 3px;
    background: linear-gradient(260deg, rgba(30,30,30,1) 0%, rgba(24,168,55,1) 100%);
    right: 30px;
    top: 50%;
    position: absolute;
}
/**********карточки***********/
.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.a-box {
  display: inline-block;
  width: 350px;
  text-align: center;
}

.img-container {
    height: 230px;
    width: 200px;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    display: inline-block;
}

.img-container img {
    transform: skew(0deg, -13deg);
    height: 250px;
    margin: -35px 0px 0px -70px;
}

.inner-skew {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    transform: skew(0deg, 13deg);
    font-size: 0px;
    margin: 30px 0px 0px 0px;
    background: #c8c2c2;
    height: 350px;
    width: 200px;
}

.text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
    color: var(--black);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 100%, 0 100%, 0% 20%);
}

.text-container h3 {
    margin: 20px 0px 10px 0px;
    color: #04bcff;
    font-size: 18px;
}
.product-items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 100px 0;
}
.product-item {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    align-items: flex-start;
    justify-content: center;
    width: 350px;
    height: 320px;
    border-radius: 20px;
    box-shadow: 5px 6px 11px rgba(0,0,0,0.3);
    transition: .4s;
    cursor: pointer;
    background: linear-gradient(45deg, #cac9c75b, #fafafa59);
}

.product-item:hover {
    height: 400px;
}
.product-item_img {
    position: absolute;
    top: 20px;
    /* border-radius: 12px; */
    width: 300px;
    height: 220px;
    background-color: var(--white);
    transition: .4s;
    overflow: hidden;
}
.product-item_img img {
    width: 100%;
    height: 100%;
    border: 1px solid var(--primary);
    object-fit: contain;
}
.product-item:hover .product-item_img {
    top: -100px;
    scale: 0.75;
}
.product-item-text {
    position: absolute;
    top: 252px;
    height: 45px;
    width: 100%;
    overflow: hidden;
    padding: 0 30px;
    text-align: center;
    transition: .4s;
}
.product-item_name {
    color: var(--black);
    font-size: 20px;
    font-weight: 600;
}
.product-item_description {
    margin-top: 20px;
    color: var(--black);
}
.product-item:hover .product-item-text {
    top: 150px;
    height: 250px;
}

.benefits-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 40px;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.benefits-item {
    position: relative;
    margin: 60px 0 20px 0;
    border: 1px solid #C5C5C5;
    transition: transform 300ms ease, box-shadow 300ms ease;
    text-align: center;
    cursor: pointer;
    width: 345px;
    height: 325px;
    padding: 20px;
    flex: 0 0 auto;
    background-color: var(--white);
}
.benefits-item-icon {
    display: block;
    position: absolute;
    left: 50%;
    width: 95px;
    transform: translate(-50%, -70%);
}
.benefits-item-icon i
{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 32px;
    transform: translate(-50%, -50%); 
    color: var(--primary);
    width: 32px;
    height: 32px;
}
.benefits-item-icon svg path {
    stroke-width: 8px;
    stroke: var(--primary);
    transition: stroke 300ms ease;       
}
.benefits-item-icon svg polygon {
    fill: white; 
}      
.benefits-item-title {
    transition: all 0.7s ease 0s;
    color: var(--primary);
    font-size:20px;
    margin:50px 0 10px 0;
}  
.benefits-item-text {
    transition: all 0.7s ease 0s;
    color: var(--black);
    font-size: 18px;
    line-height: 130%;
    margin: 50px 0px 10px;
}  
.benefits-item:hover .benefits-item-title {
    color: #000;
}  
.benefits-item:hover {
    transform: translateY(-10px);
    box-shadow: 0px 7px 10px 1px rgba(84, 84, 84, 0.5);         
}
.benefits-item:hover  svg path {
    stroke: #000; 
}  

.slider {
    width: 100%;
    height: 70vh;
    display: flex;
    perspective: 1000;
    /* transform-style: preserve-3d; */
}
.slider::before, .slider::after {
    content: '';
    left: -1vw;
    top: -1vh;
    display: block;
    position: absolute;
    width: 100%;
    height: 68vh;
    background-position: center;
    background-size: cover;
    will-change: opacity;
    z-index: -1;
    box-shadow: 0 0 0 50vmax rgba(224, 226, 224, 0.7) inset;
}
.slider::before {
  background-image: var(--img-prev);
}
.slider::after {
  transition: opacity 0.7s;
  opacity: 0;
  background-image: var(--img-next);
}
.slider--bg-next::after {
  opacity: 1;
}
.slider__content {
  margin: auto;
  width: 65vw;
  height: 32.5vw;
  max-height: 60vh;
  will-change: transform;
  transform-style: preserve-3d;
  pointer-events: none;
  transform: translateZ(var(--z-distance));
}
.slider__images {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  box-shadow: 0 0 5em #000;
}
.slider__images-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  will-change: transform;
  transition-timing-function: ease-in;
  visibility: hidden;
}
.slider__images-item img {
  display: block;
  position: relative;
  left: -1em;
  top: -1em;
  width: calc(100% + 1em * 2);
  height: calc(100% + 1em * 2);
  object-fit: cover;
  will-change: transform;
}
.slider__images-item--active {
  z-index: 20;
  visibility: visible;
}
.slider__images-item--subactive {
  z-index: 15;
  visibility: visible;
}
.slider__images-item--next {
  transform: translateX(100%);
}
.slider__images-item--prev {
  transform: translateX(-100%);
}
.slider__images-item--transit {
  transition: transform 0.7s, opacity 0.7s;
}
.slider__text {
  position: relative;
  height: 100%;
}
.slider__text-item {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.slider__text-item > * {
  overflow: hidden;
  position: absolute;
}
.slider__text-item h3, .slider__text-item p {
  transition: transform 0.35s ease-out;
  line-height: 1.5;
  overflow: hidden;
}
.slider__text-item h3 {
  background-color: rgba(255, 255, 255, 0.5);
}
.slider__text-item p {
  font-family: 'Open Sans', sans-serif;
  padding: 1em;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.slider__text-item h3::before, .slider__text-item p::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 105%;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.35s ease-out 0.28s;
}
.slider__text-item h3::before {
  background-color: #000;
}
.slider__text-item p::before {
  background-color: #fff;
}
.slider__text-item h3 {
  margin: 0;
  font-size: 3.5em;
  padding: 0 .3em;
  position: relative;
  font-weight: 700;
  transform: translateX(-100%);
}
.slider__text-item p {
  margin: 0;
  transform: translateX(100%);
}
.slider__text-item-head {
  top: -0.5em;
  transform: translateZ(3em);
}
.slider__text-item-info {
  bottom: 0;
  right: 0;
  max-width: 75%;
  min-width: min-content;
  transform: translateZ(2em);
}
.slider__text-item--active h3, .slider__text-item--active p {
  transform: translateX(0);
}
.slider__text-item--active h3::before {
  transform: translateX(102%);
}
.slider__text-item--active p::before {
    transform: translateX(-102%);
}
.slider__text-item--backwards h3::before, .slider__text-item--backwards p::before {
    transition: transform 0.35s ease-in;
}
.slider__text-item--backwards h3, .slider__text-item--backwards p {
    transition: transform 0.35s ease-in 0.35s;
}
.slider__nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 75vh;
    text-align: center;
}
.slider__nav-arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.slider__nav-arrow {
    height: 75vh;
    width: 50vw;
    text-indent: -9999px;
    white-space: nowrap;
}
.slider__nav-arrow--left {
  --arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 4 4'%3E %3Cpolyline points='3 1 1 2 3 3' stroke='white' stroke-width='.3' stroke-opacity='.5' fill='none'%3E%3C/polyline%3E %3C/svg%3E");
  cursor: var(--arrow) 40 40, auto;
}
.slider__nav-arrow--right {
  --arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 4 4'%3E %3Cpolyline points='1 1 3 2 1 3' stroke='white' stroke-width='.3' stroke-opacity='.5' fill='none'%3E%3C/polyline%3E %3C/svg%3E");
  cursor: var(--arrow) 40 40, auto;
}
.slider__nav-dots {
  margin-top: 88vh;
  display: inline-flex;
  position: relative;
  padding: 1em;
  pointer-events: none;
}
.slider__nav-dots::before {
  content: '';
  position: absolute;
  left: calc(1em + 1em + 2px);
  top: calc(1em + 2px);
  width: calc(1em - 2px * 2);
  height: calc(1em / 2 - 2px * 2);
  background-color: rgba(255, 255, 255, 0.9);
  transition: transform 0.7s ease-out;
  transform: translateX(calc((1em + 1em * 2) * (var(--from-left) - 1)));
}
.slider__nav-dot {
  margin: 0 1em;
  width: 1em;
  height: 0.5em;
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: crosshair;
  pointer-events: all;
  display: inline-block;
}
.slider__nav-dot:hover {
  border-color: rgba(255, 255, 255, 0.7);
}
.slider__nav-dot:active {
  border-color: rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 650px) {
  .slider::before,
  .slider::after {
    display: none;
  }

  .slider__content {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
  }

  .slider__text-item-info {
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  .slider__text-item-info p {
    padding: 1em .8em;
  }

  .slider__text-item-head {
    top: 5vh;
    left: 10vw;
    transform: translateZ(0);
  }
  .slider__text-item-head h3 {
    font-size: 2.5em;
  }

  .slider__nav-dots {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .slider__nav-arrow {
    width: 10vw;
    position: relative;
    cursor: auto;
  }
  .slider__nav-arrow:active {
    filter: brightness(0.5);
  }
  .slider__nav-arrow::before {
    content: '';
    background-image: var(--arrow);
    background-size: cover;
    width: 8vw;
    height: 8vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .slider__nav-arrow--left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0, transparent 100%);
  }
  .slider__nav-arrow--left:active {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0, transparent 100%);
  }
  .slider__nav-arrow--right {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7) 0, transparent 100%);
  }
  .slider__nav-arrow--right:active {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.9) 0, transparent 100%);
  }
}

/**********************************************************/

/************************ Доставка*****************************/
.timeline {
    display: flex;
    flex-direction: column;
    margin: 40px auto 120px auto;
    position: relative;
}
.timeline__event {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    margin: 20px 0;
    border-radius: 6px;
    align-self: flex-start;
    width: fit-content;
}

.timeline__event .timeline__event__content {
    border-radius: 6px 0 0 6px;
    width: 100%;
}
.timeline__event__title {
    font-size: 1.2rem;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--black);
    letter-spacing: 1.5px;
}
.timeline__event__content {
    padding: 20px;
    width: 100%;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    background: #fff;
    width: calc(40vw - 84px);
    border-radius: 0 6px 6px 0;
}
.timeline__event__date {
    color: #f6a4ec;
    font-size: 1.5rem;
    font-weight: 600;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0 20px;
    border-radius: 6px 0 0 6px;
}
.timeline__event__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    padding: 20px;
    align-self: center;
    margin: 0 20px;
    background: var(--primary);
    border-radius: 100%;
    width: 40px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    padding: 40px;
    height: 40px;
    position: relative;
}
.timeline__event__icon i {
    font-size: 32px;
}

.timeline__event__icon:after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--primary);
    position: absolute;
    left: 0%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    -webkit-animation: fillLeftOdd .2s forwards .4s ease-in-out;
            animation: fillLeftOdd .2s forwards .4s ease-in-out;
}

.timeline__event--type2 .timeline__event__date {
    color: var(--brow-light);
    background: var(--brow-light);
}
.timeline__event--type2 .timeline__event__icon {
    background: var(--brow-light);
    color: var(--black);
}
.timeline__event--type2 .timeline__event__icon:before, .timeline__event--type2 .timeline__event__icon:after {
    background: var(--brow-light);
}
.timeline__event--type2 .timeline__event__title {
    color: var(--black);
}
.timeline__event__description ul li {
    font-size: 20px;
    line-height: 150%;
}
.delivery-title {
    text-align: center;
}
@media (max-width: 786px) {
    .timeline__event {
        flex-direction: column;
        align-self: center;
    }
    .timeline__event__content {
        width: 100%;
    }
    .timeline__event__icon {
        border-radius: 6px 6px 0 0;
        width: 100%;
        margin: 0;
        box-shadow: none;
    }
    .timeline__event__icon:before, .timeline__event__icon:after {
        display: none;
    }
    .timeline__event__date {
        border-radius: 0;
        padding: 20px;
    }
    .timeline__event:nth-child(2n+1) {
        flex-direction: column;
        align-self: center;
    }
    .timeline__event:nth-child(2n+1) .timeline__event__date {
        border-radius: 0;
        padding: 20px;
    }
    .timeline__event:nth-child(2n+1) .timeline__event__icon {
        border-radius: 6px 6px 0 0;
        margin: 0;
    }
}

@keyframes fillLeftOdd {
    100% {
        left: 100%;
    }
}

/**************************************************************/
section#goods {
    margin: 40px 0 120px 0;
}
.goods-header {
    display: grid;
    grid-template-columns: 130px 2fr 1fr 100px;
    gap: 10px;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid var(--black);
    padding: 20px;
    margin-top: 60px;
}
.goods-item {
    display: grid;
    grid-template-columns: 130px 2fr 1fr 100px;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid var(--black);
}
.goods-item-img img {
    width: 100%;
}
.goods-item-name {
    font-size: 24px;
    display: flex;
    align-items: center;
}
.good-item-price {
    font-size: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer {
    height: auto;
    position: relative;
}
.footer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./../img/wave.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .2;
    z-index: -2;
}
.footer-items {
    display: flex;
    align-items: center;
}
.footer-item {
    width: calc(100% - 20px);
    padding: 29px;
}
.footer-item__feedback-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}
.footer-item__feedback-form form input {
    background: transparent;
    padding: 15px;
    border: none;
    border-bottom: 1px solid var(--primary);
}
.footer-item__feedback-form {
    position: relative;
}
.footer-item__feedback-form::after{
    content: '';
    position: absolute;
    background-color: var(--white);
    opacity: .5;
    filter: blur(20px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
button.primary-btn {
    border: none;
    padding: 20px 40px;
    width: fit-content;
    font-size: 18px;
    background: var(--primary);
    color: var(--white);
}